*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.conteudosite{
    float:left;
    padding: 100px;
}
#foto{
    float: left;
    width: 35em;
    height: 20em;
    box-shadow: 1px 1px 10px;
}
#perfil{
    float: right;
    width: 20em;
    height: 20em;
    border-radius: 10em;
    box-shadow: 5px 1px 10px;
}
.sobremim{
    float:left;
    padding: 100px;
}
.meiotex{
    margin-top: 100px;
    padding: 15px;
}
@media screen and (max-width:768px){
    .conteudosite{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .divimg{
        display: flex;
        justify-content: center;
    }
    .sobremim{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    
}